/* stijl.css - labo 3, donut (reset.css is linked before this file) */

/* === tokens === */
:root {
    --oranje:#ec4b03;
    --paars:#b99ec1;
    --geel:#f9b700

}

body{
    margin: 0;
}

main{
background-color: var(--oranje);
border: 0.75rem black solid;
height: 90vh;
width: 90vh;
margin: 5vh;
overflow: hidden;
}
/* === your rules === */
main div{
    background-color: var(--paars);
    border: 0.75rem black solid;
    border-radius: 50%;
    width: 70%;
    height: 70%;
    overflow: hidden;
    margin: 15%;
    position: relative;
}

h1{
    background-color: var(--geel);
    border: 0.75rem black solid;
    width: 90%;
    height: 90%;
    margin: -9%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: xx-large;
}


