:root {
    --color-accent: #3964c9;
    --color-text: #110101;
    --font-body: Verdana;
    --font-heading: Georgia;
    --size-base: 1rem;
}

main {
  max-width: 40rem;
  margin: 0 auto;
}

.kaart {
    background-color: pink;
    border: 0.20rem black solid;
    padding: 3rem;
    margin: 2rem;
    border-radius: 2rem;
}

body {
    color: var(--color-text);
    font-family: var(--font-body);
    font-size: var(--size-base);
}

nav a {
    color: var(--color-accent);
    text-decoration: none;
    font-weight: bolder;
    font-size:var(--size-base);
}

nav a:hover,
nav a:focus {
    text-decoration: underline;
}

footer{
text-align: center;
color: var(--color-accent);
}

li:nth-child(odd) {
background-color:var()
}

h2 {
    font-size: small;
}